# Jekyll
.vagrant
_site
_drafts/
node_modules
.sass-cache/
.jekyll-metadata
.swp
.idea

# MacOS
.DS_Store

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.blg
*.dvi
*.rtf
*.fff
*.lof
*.tex.bak
*.out
*.synctex.gz
*.pdf
*.bbl

tmp/
ssl/
